* {
	all: unset;
	background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background: rgba(0, 0, 0, 0.5);
}

button {
	background-repeat: no-repeat;
	background-position: center;
	font-family: "JetBrains Mono";
	font-size: 15;
	background-color: rgba(11, 11, 11, 0.4);
	color: #FFFFFF;
	margin: 3rem;
	border-radius: 2rem;
	padding: 2px;
	background-size: 6rem;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius: 4rem;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

